body {
  font-family: "Consolas", "Liberation Mono", "Courier", "monospace";
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

div.base {
  position: relative;
}

span.label {
  background-color: #FFFFFF;
  border-radius: 3px;
  color: #000;

  z-index: 5;
  position: absolute;
  visibility: visible;

  font-family: trebuchet ms, helvetica, sans-serif;
  opacity: 0.6;
  border-width: 0;
}

div.tooltip {
  background-color: #FFFFFF;
  border-radius: 3px;
  border: 3px solid #EEEEEE;
  color: #333333;

  padding: 4px;

  z-index: 10;
  position: absolute;
  visibility: hidden;
}

div.tooltip tr td.lnum {
  padding-left: 8px;
  padding-right: 8px;
}

div.tooltip tr td.content {
  padding-left: 10px;
  border-left: 1px solid #aaa;
  border-left-color: #E5E5E5;
}

div.tooltip tr.current {
  background-color: rgb(255, 255, 204);
}

input#fname-lnum-for-copy {
  width: 800px;
  margin: 3px;
}

div.delete {
  line-height: 17px;
  border-width: 0px;
  border-radius: 4px;
  background-color: #F1F1E9;
  border-shadow: #F1F1E9 0px 1px 0px 0px;
  margin-top: 2px;
  margin-right: 4px;
}

.genericon {
  text-align: center;
  font-size: 15px;
}
